@tailwind base;
@tailwind components;
@tailwind utilities;


@layer  base {
    body {
        @apply font-primary  bg-primary text-white leading-loose ;
    }

    .h1 {
        @apply text-[48px] xl:text-[80] leading-[1.1] font-semibold;
    }

    .h2 {
        @apply text-[36px] xl:text-[48] leading-[1.1] font-semibold;
    }

    .h3 {
        @apply text-[20px] xl:text-[24] leading-[1.1] font-semibold;
    }
    .text-outline {
        -webkit-text-stroke: 1px #ffffff;
    }

    .text-outline-hover {
        -webkit-text-stroke: 1px #00ff99;
    }

}

